.home-page {
  max-width: 80%;
  margin-left: 2rem;
  margin-top: 2rem;
}

.home-page > h1 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.home-page > h3 {
  margin-bottom: 1rem;
}

.home-page > p {
  margin-bottom: 1rem;
}

.link {
  color: #000;
  padding: 0.5rem 0.5rem 0.5rem 0.1rem;
  border-radius: 0.3rem;
  font-style: italic;
}

.link {
  background-color: #1fbccf;
}

img {
  width: 35rem;
  height: 22.5rem;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
