.user-card {
  box-shadow: 0 0 5px grey;
  width: 10rem;
  height: 15rem;
  text-align: center;
}

.like {
  cursor: pointer;
  margin-left: 1rem;
  font-size: 2rem;
  color: green;
  transform: scaleX(-1);
}

.dislike {
  cursor: pointer;
  margin-left: 1rem;
  font-size: 2rem;
  color: red;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-body > p {
  margin: 0.2rem;
}

.card-body > button {
  margin-bottom: 0.5rem;
}
