@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: whitesmoke;
}

h1,
h2,
h3,
h4,
a {
  font-family: 'Open Sans', sans-serif;
}

p,
span,
label,
select,
button {
  font-family: 'Montserrat', sans-serif;
}

.loading {
  text-align: center;
  margin-top: 2rem;
}

.App {
  position: relative;
  min-height: 100vh;
  padding-bottom: 3.75rem;
}
